/* плавные переходы между страницами */
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in-out 300ms; /* Длительность: 400ms, Задержка: 300ms */
}

.fade-exit {
  opacity: 1;
  z-index: 0;
}

.fade-exit-active {
  opacity: 0;
  transition: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: auto;
}