.categoryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--color-text-light);
  border-radius: 13px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  padding-bottom: 15px;
  text-decoration: none;
  color: inherit;
}

.categoryCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.imageWrapper {
  width: 80%;
  height: 320px;
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 9px;
}

.categoryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.imageWrapper:hover .categoryImage {
  transform: scale(1.05);
}

.categoryTitle {
  font-size: 1.1em;
  font-weight: 600;
  color: var(--color-text-dark);
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}