.filtersContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 8px;
  align-items: center;
  justify-content: flex-start; 
}

.filterGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filterGroup label {
  font-weight: 500;
  color: black;
}

.priceInput {
  width: 90px;
  padding: 6px 12px;
  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
  font-size: 1em;
}

.checkbox {
  transform: scale(2); 
  margin-inline: 5px;
  border: var(--color-light-gray);
}

.select {
  padding: 8px 12px;
  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
  font-size: 1em;
  background-color: white;
  cursor: pointer;
}
