.cartPage {
  max-width: var(--max-content-width);
  margin: 40px auto;
  box-sizing: border-box;
  min-height: 60vh;
}

.sectionHeader {
  max-width: 1440px;
  margin: 40px auto 20px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-end;
}

.sectionHeader h2 {
  font-size: 2.5em;
  position: relative;
  margin-right: 20px;
}

.sectionHeader h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 100px;
  height: 4px;
  background-color: var(--color-primary-green);
}

.divider {
  height: 1px;
  background-color: var(--color-light-gray);
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 0;
  min-width: 10px;
}

.cartTitle {
  font-size: 45px;
  font-weight: 700;
  color: var(--color-text-dark);
  margin: 0;
  padding-bottom: 8px;
  position: relative;
}

.backButton {
  background-color: transparent;
  color: var(--color-light-gray);
  border: 1px solid var(--color-light-gray);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
}

.fullCartBackLink {
  margin-right: 40px;
}

.cartTitleFull {
  font-size: 45px;
  font-weight: 700;
  color: var(--color-text-dark);
  margin: 0;
  padding-bottom: 8px;
  position: relative;
  margin-left: 40px;
}

.itemTitleLink {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.itemTitleLink:hover {
  text-decoration: underline;
}

.emptyCartText {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-text-dark);
  margin: 20px auto;
  max-width: 1441px;
  padding-inline: 40px;
}

.continueShoppingButton {
  background-color: var(--color-primary-green);
  color: var(--color-text-light);
  border: none;
  width: 250px;
  height: 50px;
  padding: 15px 30px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 40px auto;
}

.cartItemsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.cartItem {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  border: 1px solid var(--color-light-gray);
  border-radius: 8px;
  background-color: var(--color-text-light);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  position: relative;
  min-height: 120px;
  margin-left: 40px;
}

.itemImage {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 4px;
  border-right: 1px solid var(--color-light-gray);
  padding-right: 20px;
  cursor: pointer;
}

.itemDetails {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.itemTitle {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-black);
  margin: 25px 25px 50px;
}

.priceAndQuantityContainer {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.itemPriceSection {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.itemOriginalPriceStrikethrough {
  font-size: 18px;
  color: var(--color-light-gray);
  text-decoration: line-through;
}

.itemPrice {
  font-size: 2.5em;
  font-weight: 700;
}

.quantityControl {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--color-light-gray);
  border-radius: 4px;
  height: 60px;
  margin-right: 40px;
}

.quantityButton {
  color: var(--color-text-light);
  background-color: var(--color-primary-green);
  border: none;
  border-radius: 6px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.1s ease-out, color 0.1s ease-out, transform 0.1s ease-out;
  margin: 0 5px;
}

.quantityButton:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.quantityButton:active {
  background-color: var(--color-primary-green);
  color: var(--color-text-light);
  transform: translateY(0);
  box-shadow: none;
  transition: background-color 0.1s ease-in, color 0.1s ease-in, transform 0.1s ease-in, box-shadow 0.1s ease-in;
}

.itemQuantity {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-black);
  min-width: 30px;
  text-align: center;
  flex-grow: 1;
}

.removeButton {
  border: none;
  width: 35px;
  height: 35px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
  position: absolute;
  top: 20px;
  right: 20px;
}

.removeButton:hover {
  background-color: var(--color-error-red);
}

.cartSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border-top: 2px solid var(--color-light-gray);
  background-color: var(--color-text-light);
  border-radius: 8px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.03);
}

.totalAmount {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-primary-green);
}

.clearCartButton,
.orderButton {
  padding: 12px 25px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.clearCartButton {
  background-color: var(--color-text-dark);
  color: var(--color-text-light);
  margin-left: 25px;
}

.clearCartButton:hover {
  background-color: #555;
  transform: translateY(-1px);
}

.orderButton {
  background-color: var(--color-primary-green);
  color: var(--color-text-light);
  margin-left: 15px;
}

.orderButton:hover {
  background-color: #3a6b12;
  transform: translateY(-1px);
}

.fullCartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.fullCartBackLink {
  font-size: 16px;
  color: var(--color-light-gray);
  text-decoration: none;
  white-space: nowrap;
  border: 1px solid var(--color-light-gray);
  border-radius: 8px;
  padding: 8px 15px;
  transition: all 0.3s ease;
}

.fullCartBackLink:hover {
  background-color: #f0f0f0;
  color: #393939;
}

.cartContentWrapper {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.cartItemsList {
  flex: 2;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.itemDiscountPrice {
  font-size: 40px;
  font-weight: 700;
}

.itemOriginalPriceStrikethrough {
  font-size: 20px;
  color: var(--color-light-gray);
  text-decoration: line-through;
  margin-left: 10px;
}

.orderDetailsContainer {
  flex: 1;
  min-width: 300px;
  background-color: #dededf;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 40px;
  max-height: 770px;
}

.orderDetailsTitle {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-text-dark);
}

.summaryText {
  color: var(--color-light-gray);
  font-size: 28px;
  font-weight: 600;
}

.summaryTextTotal {
  color: var(--color-light-gray);
  font-weight: 600;
}

.summaryTotalPrice {
  font-size: 30px;
  font-weight: 700;
  color: var(--color-text-dark);
  display: flex;
  align-items: baseline;
  gap: 10px;
  justify-content: space-between;
}

.summaryTotalValue {
  color: var(--color-black);
  font-size: 48px;
}

.orderForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.orderFormInput {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid var(--color-light-gray);
  border-radius: 6px;
  font-size: 16px;
  color: var(--color-text-dark);
  box-sizing: border-box;
  margin-top: 30px;
}

.orderFormInput::placeholder {
  color: var(--color-light-gray);
}

.orderFormInput:focus {
  border-color: var(--color-primary-green);
  outline: none;
}

.orderSubmitButton {
  background-color: var(--color-primary-green);
  color: var(--color-text-light);
  border: none;
  border-radius: 6px;
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 100px;
}

.orderSubmitButton:hover {
  background-color: var(--color-primary-green);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.successModal {
  background-color: var(--color-primary-green);
  color: var(--color-text-light);
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: left;
  max-width: 400px;
  position: relative;
  animation: fadeInScale 0.3s ease-out forwards;
}

.closeModalButton {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  color: var(--color-text-light);
  font-size: 24px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.closeModalButton:hover {
  color: #ddd;
}

.modalTitle {
  font-size: 28px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
  color: var(--color-text-light);
}

.modalText {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: var(--color-text-light);
}

.orderPlacedButton {
  background-color: var(--color-text-light);
  cursor: not-allowed;
  color: var(--color-text-dark);
  border: 1px solid var(--color-text-dark);
}

.orderPlacedButton:hover {
  background-color: var(--color-text-light);
  color: var(--color-text-dark);
  border: 1px solid var(--color-text-dark);
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}