.header {
  background-color: var(--color-text-light);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-content-width);
  width: 100%;
  padding: 15px 40px;
}

.headerLeft {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
  color: inherit;
}

.logoImage {
  height: 40px;
  width: auto;
}

.headerCenter {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 30px;
}

.navLink {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text-dark);
  text-decoration: none;
  transition: color 0.3s ease;
  display: block;
  padding: 5px 0;
  text-align: center;
  white-space: nowrap;
}

.navLink:hover {
  color: var(--color-primary-green);
}

.activeLink {
  color: var(--color-primary-green);
}

.headerRight {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
}

.cartIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.cartIconWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartCount {
  position: absolute;
  top: -1px;
  left: -8px;
  background-color: var(--color-primary-green);
  color: var(--color-text-light);
  border-radius: 50%;
  padding: 2px 1px;
  font-size: 9px;
  font-weight: bold;
  min-width: 20px;
  text-align: center;
  line-height: 2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  height: 20px;
  width: 5px;
}